.main{
    width:100vw;
    height:100vh;
    overflow:hidden;
}
.submain{
    display: flex;
    align-items:center;
    justify-content:center;

}

.form{
    padding-left: 3%;
    padding-right: 3%;
    display:flex;
    border: 1px solid #5B5B5B;
    background-color: #CBCCCE !important;
    flex-direction:column;
    align-items: center;
    justify-content:center;    
    margin-top: 12%;
    padding-bottom: 3%;
}
